/* Common Styles */
body {
    background-color: #151515;
    margin: 0;
    padding: 0;
}
.btn {
    background-color: #d8ad01;
    color: White;
    border: none;
    font-size: 1.2em;
}
.btn:hover {
    border: 1px solid #d8ad01;
    color: white;
}
.container-xxl {
    max-width: 1400px;
}
/* Top Banner Section */
#top-banner {
    width: 100%;
    background-color: black;
    height: auto;
}

.banner-heading {
    font-family: "DynaPuff", cursive;
    color: #d8ad01;
    font-size: 3em;
}
.banner-description {
    color: white;
}

/* Player Card Section */
.player-card {
    background-color: black;
}

/* Calculation Section */

.selected-heading {
    font-family: "DynaPuff", cursive;
    color: #d8ad01;
    font-size: 1.7em;
}

#player-budget {
    border: 1px solid #d8ad01;
    background-color: transparent;
    color: white;
}
#player-budget:focus {
    outline: none;
    border-color: #d8ad01;
}
